{% extends "base.html" %}

{% block content %}
    {%- match data %}
    {%- when TreeView::Tree with (tree) %}
    {%- for item in tree %}
      {%- if let Some(GitObjectType::Tree) = item.kind %}
      <div><a class="link" href="/git/tree/{{ item.root }}{{ item.name }}">{{ item.name }}/</a></div>
      {%- else %}
      <div><a class="link" href="/git/tree/{{ item.root }}{{ item.name }}">{{ item.name }}</a></div>
      {%- endif %}
    {%- endfor %}
    {%- when TreeView::Blob with (blob) %}
{% include "blob-view.html" %}
    {%- endmatch %}
{%- endblock %}
